.header {
  width: 1140px;
  height: 883px;

  &__slider {
    display: flex;
    gap: 600px;
  }

  &__icons {
    background-color: #000000;
    height: 40px;
    width: 223px;
    text-align: center;
    padding: 10px 0;
  }
  &__left-top {
    display: flex;
    text-align: center;
    gap: 30px;
    background-color: rgb(37, 34, 34);
    height: 60px;
    padding: 0 100px;
  }
  &__tel {
    display: flex;
    gap: 20px;
    padding: 20px 52px;
  }

  &__number {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
  }
  &__link-icon {
    padding: 0 8px;
  }

  &__right {
    display: flex;
    gap: 460px;
    padding: 0 10px;
  }

  &__right-top {
    display: flex;
    text-align: center;
    padding: 15px 0;
    gap: 20px;
  }

  &__right-text {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-transform: capitalize;
    padding: 10px 0;
  }
  &__links-icon {
    display: flex;
    gap: 20 px;
  }
  &__link {
    display: flex;
    gap: 180px;
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255);
    width: 1300px;
  }
  &__logo {
    padding: 0 78px;
  }
  &__img {
    display: flex;
    gap: 10px;
  }
  &__links-text {
    color: rgb(17, 17, 17);
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    &:hover {
      color: rgb(90, 90, 201);
      font-weight: 700;
    }
  }
  &__texts {
    padding: 163px 100px;
  }
  &__text {
    color: rgb(17, 17, 17);
    font-size: 20px;
    font-weight: 400;
    line-height: 34.3px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
  &__text-title {
    color: rgb(17, 17, 17);
    font-size: 50px;
    font-weight: 400;
    line-height: 62.5px;
    text-align: left;
    text-transform: capitalize;
    position: static;
    left: 30px;
  }
  &__btn {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: rgb(0, 0, 0) er;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;

    &:hover {
      letter-spacing: 3px;
      background-color: hsl(261deg 80% 48%);
      color: hsl(0, 0%, 100%);
      box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
    }
  }
  .slider {
    display: flex;
    transition: transform 0.5s ease;
  }

  .slide {
    min-width: 100px;
  }
  &__images {
    vertical-align: middle;
  }

  &__prev {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 300px 0;
    margin-top: -22px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  &__next {
    cursor: pointer;
    position: absolute;
    padding: 300px 1110px;
    margin-top: -22px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    text-align: center;
  }
  &__dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    text-align: center;
    &:hover {
      background-color: #000000;
    }
  }

  &__active,
  &__dot:hover {
    background-color: #717171;
  }
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  &__dots {
    text-align: center;
    padding: 0 auto;
  }
  &__card {
    padding: 40px 0;
  }
}

.active {
  background-color: black;
}

select {
  border-radius: 5px;
  font-size: 14px;
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(37, 34, 34);
  &:focus {
    border: none;
    outline: none;
  }
}

.header__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
}
